
@{
    Layout = null;
}

<h3>MVC Kamp Tablo Örneği-Kategori</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yapıldı</td>
        <td>False</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Kitap</td>
        <td>Açıklama Yapıldı</td>
        <td>False</td>
    </tr>
</table>